<div class="dashboard-container" data-controller="acti-tab">
  <div class="form-container-dashboard">
    <!-- En-tête utilisateur -->
    <p class="form-header">Salut <%= "#{current_user.first_name} #{current_user.last_name}" %> !</p>
    <div class="separator-dashboard"></div>

    <!-- Onglets Bootstrap -->
    <ul class="nav nav-tabs tabs-dashboard" id="dashboardTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-link-dashboard active" id="profil-tab" data-acti-tab-target="profil" data-bs-toggle="tab" data-bs-target="#profil" type="button" role="tab" aria-controls="profil" aria-selected="true">
          Profil
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-link-dashboard" id="foodtruck-tab" data-acti-tab-target="foodtruck" data-bs-toggle="tab" data-bs-target="#foodtruck" type="button" role="tab" aria-controls="foodtruck" aria-selected="false">
          Foodtruck
        </button>
      </li>
    </ul>

    <!-- Contenu des onglets -->
    <div class="tab-content mt-3" id="dashboardTabsContent">
      <!-- Onglet Profil -->
      <div class="tab-pane fade show active" id="profil" role="tabpanel" aria-labelledby="profil-tab">
        <div class="dashboard-card">
            <p class="text-center d-flex align-items-center justify-content-center gap-2">
              <strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong>
            </p>

            <p><i class="fa-solid fa-envelope" style="color: #029094;"></i>  <%= current_user.email %></p>
            <p><i class="fa-solid fa-location-dot" style="color: #029094;"></i> </strong> <%= current_user.address_default || "Non spécifiée" %></p>
            <p><i class="fa-solid fa-building" style="color: #029094;"></i> </strong> <%= current_user.company_name.presence || "Nom de la société non spécifiée" %></p>
        </div>
          <div class="profile-actions mt-3">
            <%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn btn-custom btn-flex" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir vous déconnecter ?" }, class: "btn btn-custom btn-flex" %>
          </div>
      </div>

      <!-- Onglet Foodtruck -->
      <div class="tab-pane fade" id="foodtruck" role="tabpanel" aria-labelledby="foodtruck-tab">
        <% if current_user.foodtruck.present? %>
          <div class="foodtruck-details">
            <%= link_to foodtruck_path(current_user.foodtruck), class: "text-decoration-none text-dark" do %>
              <div class="dashboard-card">
              <!-- Photo -->
                <% if current_user.foodtruck.photo.present? %>
                  <%= cl_image_tag current_user.foodtruck.photo.key, alt: "Photo de #{current_user.foodtruck.name}", class: "foodtruck-photo img-fluid mb-3, crop: :fill" %>
                <% else %>
                  <p>Aucune photo disponible pour ce foodtruck.</p>
                <% end %>

                <!-- Détails du Foodtruck -->
                <p class="text-center d-flex align-items-center justify-content-center gap-2"><strong> <%= current_user.foodtruck.name %> </strong></p>
                <p><i class="fa-solid fa-location-dot" style="color: #029094;"></i> <%= current_user.foodtruck.address_default || "Non spécifiée" %></p>
                <p><i class="fa-solid fa-phone" style="color: #029094;"></i> <%= current_user.foodtruck.phone_number.presence || "Pas de numéro de téléphone disponible." %></p>
                <p><i class="fa-solid fa-tags" style="color: #029094;"></i> <%= current_user.foodtruck.categories.any? ? current_user.foodtruck.categories.join(', ') : "Aucune catégorie définie." %></p>
              </div>
            <% end %>
            <!-- Boutons d'activation/désactivation et Modifier -->
            <div class="presence-actions">
            <%= link_to "Modifier mon foodtruck", edit_foodtruck_path(current_user.foodtruck), class: "btn btn-custom" %>
              <% if current_user.foodtruck.status %>
                <%= button_to "Désactiver ma présence", unavailable_status_foodtruck_path(current_user.foodtruck, anchor: 'foodtruck'), method: :patch, class: "btn btn-deactivate", data:{action:"click->acti-tab#toggle",turbo:false} %>
              <% else %>
                <%= button_to "Activer ma présence", available_status_foodtruck_path(current_user.foodtruck, anchor: 'foodtruck'), method: :patch, class: "btn btn-activate", data:{action:"click->acti-tab#toggle",turbo:false} %>
              <% end %>

          </div>
        <% else %>
          <p>Vous n'avez pas encore ajouté de foodtruck.</p>
          <%= link_to "Ajouter un foodtruck", new_foodtruck_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
