<div class="home-container" data-controller="home">
  <%= link_to "En savoir plus +", faq_path, class: "home-faq-link" %>

  <div class="home-background">
    <div class="home-content">
      <div class="home-logo">
        <%= image_tag 'logo-v1.png', alt: 'Trucks Radar' %>
      </div>

      <div class="container text-center my-5">
        <%= form_with url: foodtrucks_path, method: :get, local: true, class: "d-flex justify-content-center" do %>
          <!-- Zone de recherche -->
          <div class="search-container">
            <%= text_field_tag :query,
                params[:query],
                class: "form-control search-input",
                placeholder: "Ville, catégorie ou foodtruck...",
                data: { target: "home.searchInput", action: "input->home#search" } %>
          </div>

          <!-- Bouton de recherche avec icône -->
          <div class="search-button">
            <%= button_tag type: 'submit', class: "btn-search" do %>
              <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="home-title">
        <h1>Notre concept</h1>
        <div class="home-separator"></div>
      </div>
      <div class="home-text">
        <p>Découvrez facilement les meilleurs <br>food-trucks proches de vous ! C'est l'assurance de se régaler et pour les propriétaires de food-trucks, un coup de projecteur pour gagner en visibilité.</p>
      </div>
    </div>
  </div>
</div>
