<div class="container edit_container">
  <h1>Modifier le Foodtruck</h1>

  <%= form_with model: @foodtruck, data: { turbo_method: :patch }, local: true do |f| %>
    <!-- Champs du foodtruck -->
    <div class="mb-3">
      <%= f.label :name, "Nom du Foodtruck" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :categories, "Catégories" %>
      <div class="d-flex flex-wrap gap-2">
        <% ["Asiatique", "Burger", "Mexicain", "Veggie", "Pizza", "Indien", "Français", "Coffeeshop"].each do |category| %>
          <div>
            <input type="checkbox" name="foodtruck[categories][]" id="<%= category.downcase %>" value="<%= category %>"
                  class="btn-check" <%= 'checked' if @foodtruck.categories&.include?(category) %>>
            <label class="btn btn-outline-primary category-label" for="<%= category.downcase %>">
              <%= category %>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :address_default, "Adresse" %>
      <%= f.text_field :address_default, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :phone_number, "Numéro de téléphone" %>
      <%= f.telephone_field :phone_number, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :photo, "Photo du Foodtruck" %>
      <%= f.file_field :photo, class: "form-control" %>
      <% if @foodtruck.photo.attached? %>
        <%= image_tag @foodtruck.photo, class: "img-fluid mt-2", style: "max-width: 200px;" %>
      <% end %>
    </div>

    <!-- Bouton de soumission -->
    <%= f.submit "Enregistrer les modifications", class: "btn btn-primary" %>
  <% end %>
</div>
