<div class="indexcontainer-fluid p-0 vh-100 position-relative w-100">
  <div class="search-wrapper position-absolute w-100 p-3" style="z-index: 1000;">
    <div class="row justify-content-center">
      <%= form_with url: foodtrucks_path, method: :get, local: true, class: "d-flex justify-content-center" do %>
        <div class="search-container">
          <%= text_field_tag :query,
              params[:query],
              class: "search-input",
              placeholder: "Ville, catégorie ou foodtruck...",
              data: { target: "home.searchInput", action: "input->home#search" } %>

          <div class="search-button">
            <%= button_tag type: 'submit', class: "btn-search" do %>
              <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <%# <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: foodtrucks_path, method: :get, local: true, class: "d-flex" do %>
        <%# <%= label_tag :query, "Rechercher un foodtruck :" %>
        <%# <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Entrez un nom, une catégorie ou une adresse" %>
        <%# <%= submit_tag "Rechercher", class: "btn btn-primary" %>
      <%# <% end %>
    <%# </div>
  </div> %>
    <%= turbo_stream_from "display_map" %>
    <%= render "foodtrucks/map", markers: @markers, current_user: current_user %>
</div>
