
<div class="new_container my-5">
  <h1 class="text-center">Ton nouveau FoodTruck !</h1>
  <%= simple_form_for @foodtruck, html: { multipart: true } do |f| %>
    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.input :name, label: "Nom du Foodtruck", required: true, input_html: { class: "form-control" } %>
      </div>
    </div>

<div class="row mb-3">
  <div class="col-md-6">
    <label>Catégories :</label>
    <div class="d-flex flex-wrap gap-2">
      <% ["Asiatique", "Burger", "Mexicain", "Veggie", "Pizza", "Indien", "Français", "Coffeeshop"].each do |category| %>
        <div class="form-check">
          <input type="checkbox" name="foodtruck[categories][]" id="<%= category.downcase %>" value="<%= category %>"
                 class="btn-check" <%= 'checked' if @foodtruck.categories&.include?(category) %>>
          <label class="btn btn-outline-primary" for="<%= category.downcase %>"><%= category %></label>
        </div>
      <% end %>
    </div>
  </div>
</div>

    <div class="row mb-3">
      <%= f.input :description, label: "Description", as: :text, input_html: { class: "form-control", rows: 5 } %>
    </div>

    <div class="col-md-6">
      <%= f.input :address_default, label: "Adresse principale", input_html: { class: "form-control" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :phone_number, label: "Numéro de téléphone", input_html: { class: "form-control" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :company_name, label: "Instagram", input_html: { class: "form-control" } %>
    </div>

    <div class="col-md-6">
      <%= f.input :company_name, label: "Facebook", input_html: { class: "form-control" } %>
    </div>

    <div class="row mb-3">
      <%= f.input :photo, label: "Photo foodtruck ou logo", as: :file, required: true, input_html: { class: "form-control" } %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "Sauvegarde", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
