<div class="foodtruck-page">
  <div class="foodtruck-container">
    <div class="">
      <!-- Image du Foodtruck -->
      <div class="foodtruck-photo-container">
        <% if @foodtruck.photo.attached? %>
          <%= cl_image_tag @foodtruck.photo.key, alt: @foodtruck.name,
          class: "card-img-top foodtruck-photo fav-background-image",
          width: 100,
          height: 240,
          gravity: :auto %>
        <% else %>
          <%= image_tag "default_foodtruck.jpg", alt: "Image par défaut", class: "card-img-top foodtruck-photo" %>
        <% end %>
        <!-- Cœur en haut à droite -->
        <div class="foodtruck-heart">
          <%= button_to (current_user.favorites.exists?(foodtruck: @foodtruck) ? foodtruck_favorite_path(@foodtruck, current_user.favorites.find_by(foodtruck: @foodtruck)) : foodtruck_favorites_path(@foodtruck)),
                        method: (current_user.favorites.exists?(foodtruck: @foodtruck) ? :delete : :post),
                        class: "p-0 border-0 bg-transparent" do %>
            <i class="fas fa-heart <%= current_user.favorites.exists?(foodtruck: @foodtruck) ? 'text-danger' : 'text-muted' %> fs-4"></i>
          <% end %>
        </div>
      </div>
      <!-- Nom du Foodtruck -->
      <div class="foodtruck-name">
        <h3 class="card-title"><%= @foodtruck.name.presence || "Nom non disponible" %></h3>
      </div>
      <!-- Contenu de la Card -->
      <div class="card-body">
        <!-- Tags -->
        <div class="mb-3">
          <% @foodtruck.categories.each do |category| %>
            <span class="badge"><%= category %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Onglets -->
  <div class="tabs-container" data-controller="tabs">
    <div class="tabs-dashboard">
      <div class="tab-link-dashboard <%= params[:tab] == "menu" ? '' : 'active'%>" data-action="click->tabs#change" data-tab-target="info" data-tabs-target="tabLink" aria-selected="true">Info</div>
      <div class="tab-link-dashboard <%= params[:tab] == "menu" ? 'active' : ''%>" data-action="click->tabs#change" data-tab-target="menu" data-tabs-target="tabLink" aria-selected="false">Menu</div>
      <div class="tab-link-dashboard" data-action="click->tabs#change" data-tab-target="avis" data-tabs-target="tabLink" aria-selected="false">Avis</div>
    </div>

    <!-- Contenu des Onglets -->
    <div id="info" class="tab-content-dashboard <%= params[:tab] == "menu" ? '' : 'active'%>" data-tabs-target="tabContent">
      <p>Adresse : <%= @foodtruck.address_default %></p>
    </div>

    <div id="menu" class="tab-content-dashboard <%= params[:tab] == "menu" ? 'active' : ''%>" data-tabs-target="tabContent" style="display: none;">
      <% if @foodtruck.dishes.any? %>
        <ul class="list-group foodtruck-menu">
          <% @foodtruck.dishes.each do |dish| %>
            <li class="list-group-item">
              <%= cl_image_tag dish.photo.attached? ? dish.photo.key : 'default_dish.jpg', class: "img-thumbnail", alt: dish.title %>
              <div>
                <strong><%= dish.title %></strong>
                <p id="ingredients" ><%= dish.description %></p>
              </div>
              <span  id="price" class="fw-bold"><%= number_to_currency(dish.price, unit: "€") %></span>

              <!-- Si l'utilisateur est propriétaire du foodtruck, permettre la suppression -->
              <% if @foodtruck.is_owned_by?(current_user) %>
                <%= link_to dish_path(dish), class: "btn btn-danger btn-sm mt-2", data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce plat ?" } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucun plat disponible.</p>
      <% end %>
      <% if @foodtruck.is_owned_by?(current_user) %>
        <%= link_to "Ajouter un plat", new_foodtruck_dish_path(@foodtruck), class: "btn btn-success mt-3" %>
      <% end %>
    </div>

    <div id="avis" class="tab-content-dashboard" data-tabs-target="tabContent" style="display: none;">
      <%= link_to "Ajouter un avis", new_foodtruck_review_path(@foodtruck), class: "btn btn-success mb-2" %>
      <% @foodtruck.reviews.each do |review| %>
        <div class="review mb-2">
          <p><strong><%= review.user.name %> :</strong> <%= review.comment %></p>
          <p>Note : <%= render_stars(review.rating) %></p>
        </div>
      <% end %>
    </div>

  </div>
</div>
