<div class="review-container">
  <h1 class="review-title">Laisse ton avis pour <%= @foodtruck.name %></h1>
  <div class="review-form">
    <%= simple_form_for [@foodtruck, @review], html: {class: "review-form-inner"} do |f| %>
      <div class="review-comment">
        <%= f.input :comment, label: "Ton avis", input_html: {class: "review-comment-input"} %>
      </div>
      <div class="review-rating">
        <%= f.input :rating, collection: (1..5).to_a, label: "Note", input_html: {class: "review-rating-stars", data: {controller: "star-rating"}} %>
      </div>
      <div class="review-submit">
        <%= f.submit "Envoyer mon avis", class: "btn btn-primary review-submit-button" %>
      </div>
    <% end %>
  </div>
</div>
