<!DOCTYPE html>
<html>
  <head>
    <title>Truckradar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/0a93ae5b0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= favicon_link_tag 'favicon.ico' %>


      <!-- Open Graph meta tags -->
    <meta property="og:title" content="Truckradar">
    <meta property="og:description" content="La meilleure boussole pour trouver des food trucks près de chez vous.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.truckradar.com">
    <meta property="og:image" content="https://www.truckradar.com/assets/images/1200x630.png">
  </head>

  <body data-user-role="<%= current_user&.role %>"><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
